
<h1 id="titre">HELLO !</h1>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd">
    <a class="navbar-brand" routerLink="">Angular App</a>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" routerLinkActive="active" routerLink="users">Liste des inscrits</a>
            <a class="nav-item nav-link" routerLinkActive="active" routerLink="create-user">Inscription</a>
            <a class="nav-item nav-link active" routerLinkActive="active" routerLink="articles">Liste des Articles</a>
            <a class="nav-item nav-link" routerLinkActive="active" routerLink="create-article">Vendez</a>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>