
<h1 id="titre">HELLO !</h1>

<nav class="navbar navbar-expand-lg navbar-light"
	style="background-color: #e3f2fd">
	<a class="navbar-brand" routerLink="">Angular App</a>

	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
			<a class="nav-item nav-link active" routerLinkActive="active"
				routerLink="users">Liste des inscrits</a> <a
				class="nav-item nav-link" routerLinkActive="active"
				routerLink="create-user">Inscription</a> <a
				class="nav-item nav-link active" routerLinkActive="active"
				routerLink="articles">Liste des Articles</a> <a
				class="nav-item nav-link" routerLinkActive="active"
				routerLink="create-article">Vendez</a>
		</div>
	</div>
</nav>



<mat-form-field apparence="standard"> 
<mat-label>Rechercher ..</mat-label> 
<input matInput placeholder="" search (keyup)="applyFilter($event)"/> 
</mat-form-field>

<div>
	<table mat-table matSort [dataSource]="dataSource">

		<ng-container matColumnDef="id">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
		<td mat-cell *matCellDef='let row'>{{row.id}}</td>
		</ng-container>

		<ng-container matColumnDef="userId">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>User ID</th>
		<td mat-cell *matCellDef='let row'>{{row.userId}}</td>
		</ng-container>

		<ng-container matColumnDef="title">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>Titre</th>
		<td mat-cell *matCellDef='let row'>{{row.title}}</td>
		</ng-container>

		<ng-container matColumnDef="body">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>Body</th>
		<td mat-cell *matCellDef='let row'>{{row.body}}</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumn"></tr>
	</table>
	
	<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-labels="select page"></mat-paginator>
</div>


<router-outlet></router-outlet>